body{
    font-family: 'Poppins', sans-serif;
}
.child{
    width: 40%;
    background-image: url(image/donation2.jpg);
    padding: 15% 30%;
    color: white;
    text-align: center;
    margin: 0%;
}
p{
    font-size: 10px;
    color: gray;
}
a{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5%;
    color: white;
}
.part1{
    margin-top: 10%;
    margin-bottom: 15%;
}
.step1{
    text-align: center;
    margin: 2% 20%;
}
.step2{
    display: flex;
    margin-left: 21%;
    margin-right: 21%;
}
.general{
    background-color: beige;
    width: 10%;
    margin: 2%;
    color: gray;
    padding: 20px ;
}
.defferent{
    background-color: bisque;
    padding: 20px;
    width: 10%;
    margin: 2%;
    border: 2px solid tomato;
    color: tomato;
}
.step3{
    border-bottom: 1px solid gray;
    padding: 3px 30px;
    text-align: center;
    color: gray;
    margin: 3% 21%;

}
.step4{
    text-align: center;
}
.part2{
    margin-bottom: 15%;
}
.step2-1{
    text-align: center;
    margin: 2% 20%;
}
.step2-2{
    display: flex;
    margin: 3% 10%;
    
}
.box-plan{
    width: 500px;
    height: 200px;
    padding: 5px;
    margin: 1%;
}
#food{
    background-color: rgb(131, 188, 169);
}
#shelter{
    background-color: antiquewhite;
}
#education{
    background-color: bisque;
}
.part3{
    display: flex;
    margin-bottom: 50px;
}
.part4{
    margin-bottom: 150px;
}
.write{
    width: 100%;
    padding: 5%;
}
.image{
    width: 100%;
    margin: 0%;
}
.baby{
    margin: 30% 15% 30% 30%;
    border: 60px solid bisque;
    display: inline;
}
button{
    background-color: rgba(255, 0, 0, 0.823);
    color: white;
    margin: 0%;
    border: 0ch;
    padding: 5px 10px;
}
input{
    background-color: rgba(128, 128, 128, 0.767);
    border: 0ch;
    padding: 5px 10px;

}
footer{
    background-color: rgb(3, 3, 13);
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgba(255, 0, 0, 0.752);
}
#footer-down{
    color: white;
}